# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
myenv/
ENV/

# Data
data/uploads/
*.db
mlruns/

# Logs
logs/
*.log

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# MLflow
mlflow_data/

#video files
*.mp4